@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";

body {
	box-sizing: border-box;
	background-color: $background-primary-color;
	min-width: 320px;
}

.container {
	min-width: 320px;
	max-width: 1160px;
	margin: 0 auto;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	margin: 34px 0 27px 0;
}
.logo__link {
	display: block;
	width: 45px;
	height: 30px;
}

.menu__burger {
	width: 27px;
	height: 15px;
	background-image: url(../img/burger_menu.png);
	margin: 9px 105px 0 0;
}

.header-content {
	background-color: $text-title-section-secondary-color;
}

.header-content__inner-items {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-content__title {
	font-family: $font-family-secondary;
	color: $text-title-colored;
	font-size: 55px;
	font-weight: 400;
	letter-spacing: -3px;
	margin: 51px 0;
}

.header-content__description {
	max-width: 360px;
	text-align: center;
	font-family: $font-family-primary;
	color: $text-subtitle-primary-color;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: -1px;
	margin-bottom: 250px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 1000px;
	}
	.header__top-inner {
		justify-content: space-around;
	}
	.menu__burger {
		margin: 9px 0 0 0;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 500px;
	}
}

.introduction-cards__wrapper {
	display: flex;
	margin-bottom: 50px;
}

.introduction-card__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 33.3%;

	&--choosen {
		box-shadow: 2px 5px 3px #ebecec;
		border-left: none;
		border-top: none;
	}
}

.introduction-card__icon {
	margin-top: 70px;
	height: 77px;
}

.introduction-card__title {
	font-family: $font-family-secondary;
	color: $text-subtitle-primary-color;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -1px;
	margin-top: 40px;
}

.introduction-card__description {
	font-family: $font-family-primary;
	color: $text-description-primary-color;
	font-size: 15px;
	font-weight: 400;
	font-style: normal;
	line-height: 32px;
	text-align: center;
	letter-spacing: 1px;
	max-width: 270px;
	margin: 20px 0 45px 0;
}

@media (max-width: 992px) {
	.introduction-cards__wrapper {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.introduction-card__item {
		flex-basis: 40%;
	}
}

@media (max-width: 767px) {
	.introduction-cards__wrapper {
		flex-wrap: wrap;
	}

	.introduction-card__item {
		flex-basis: 80%;
		margin: 0 auto;
	}
}

.services-title__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.services__title {
	color: $text-title-section-primary-color;
	font-family: $font-family-secondary;
	font-size: 162px;
	line-height: 195px;
	letter-spacing: -8px;
}
.services__description {
	color: $text-description-primary-color;
	font-family: $font-family-primary;
	font-size: 25px;
	letter-spacing: -1px;
	margin-top: -70px;
}
.services-cards__inner {
	display: flex;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 120px 0;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: -8%;
		right: -37%;
		background-image: url(../img/right-side_decor_image.png);
		width: 340px;
		height: 436px;
	}
}
.services-cards__item {
	flex-basis: 315px;
	padding-left: 85px;
	position: relative;
	margin-bottom: 10px;
}

.services-cards__title {
	color: $text-subtitle-secondary-color;
	font-family: $font-family-secondary;
	font-size: 20px;
	line-height: 67px;
}

.services-cards__icon {
	position: absolute;
	top: 26px;
	left: 0;
}

.services-cards-description {
	color: $text-description-secondary-color;
	font-family: $font-family-primary;
	line-height: 27px;
	font-size: 15px;
	font-style: normal;
	letter-spacing: -1px;
	max-width: 270px;
	margin-top: 12px;
}

@media (max-width: 1500px) {
	.services-cards__inner {
		display: flex;
		flex-wrap: wrap;
		max-width: 400px;
		margin: 120px 20px;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0%;
			right: -100%;
			background-image: url(../img/right-side_decor_image.png);
			width: 340px;
			height: 436px;
		}
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
	.services-cards__inner {
		display: flex;
		flex-wrap: wrap;
		max-width: 400px;
		margin: 120px 20px;
		position: relative;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0%;
			right: -90%;
			background-image: url(../img/right-side_decor_image.png);
			width: 340px;
			height: 436px;
		}
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 500px;
	}

	.services-cards__inner {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 400px;
		position: relative;
		margin-top: 500px;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: -55%;
			right: 0;
			background-image: url(../img/right-side_decor_image.png);
			width: 340px;
			height: 436px;
		}
	}

	.services__title {
		font-size: 80px;
		line-height: 120px;
		letter-spacing: -8px;
	}

	.services__description {
		font-size: 18px;
		letter-spacing: -1px;
		margin-top: -50px;
	}
}

.portfolio {
	background-color: $background-secondary-color;
}

.portfolio__inner {
	max-width: 1580px;
	margin: 0 auto;
	padding-bottom: 170px;
}

.portfolio-title__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-section__title {
	color: $text-title-section-secondary-color;
	font-family: $font-family-secondary;
	font-size: 162px;
	line-height: 195px;
	letter-spacing: -8px;
	margin-top: 45px;
}

.portfolio-section__description {
	color: $text-description-primary-color;
	font-family: $font-family-primary;
	font-size: 25px;
	letter-spacing: -1px;
	margin-top: -70px;
}

.portfolio-cards__inner {
	display: flex;
	justify-content: space-around;
	margin: 100px auto 0 auto;
}
.portfolio-cards__item {
	max-width: 30%;
	background-color: $background-primary-color;
}
.portfolio-cards__image {
	object-fit: cover;
	width: 100%;
}
.portfolio-cards__title {
	color: $text-subtitle-secondary-color;
	font-family: $font-family-secondary;
	font-size: 20px;
	margin: 30px 0 15px 30px;
}
.portfolio-cards__description {
	max-width: 396px;
	color: $text-description-secondary-color;
	font-family: $font-family-primary;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: -1px;
	margin: 0 0 30px 30px;
}

@media (max-width: 970px) {
	.portfolio__inner {
		max-width: 800px;
		margin: 0 auto;
		padding-bottom: 50px;
	}
	.portfolio-cards__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 100px auto 0 auto;
	}
	.portfolio-cards__item {
		max-width: 40%;
		margin: 20px;
	}
}

@media (max-width: 767px) {
	.portfolio__inner {
		max-width: 560px;
		margin: 0 auto;
		padding-bottom: 60px;
	}
	.portfolio-cards__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 100px auto 0 auto;
	}
	.portfolio-cards__item {
		max-width: 80%;
		margin: 20px;
	}

	.portfolio-section__title {
		font-size: 80px;
		line-height: 120px;
		letter-spacing: -8px;
	}

	.portfolio-section__description {
		font-size: 18px;
		letter-spacing: -1px;
		margin-top: -50px;
	}
}

.about-title__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about__title {
	color: $text-title-section-secondary-color;
	font-family: $font-family-secondary;
	font-size: 162px;
	line-height: 195px;
	letter-spacing: -8px;
	margin-top: 45px;
}
.about__description {
	color: $text-description-primary-color;
	font-family: $font-family-primary;
	font-size: 25px;
	letter-spacing: -1px;
	margin-top: -70px;
}
.about-content__inner {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 150px 0;
	position: relative;

	&::before {
		content: "";
		display: block;
		width: 450px;
		height: 454px;
		position: absolute;
		top: -80px;
		left: 0;
		background-image: url(../img/left-side_decor_image2.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.about-content__main-part {
	max-width: 50%;
	color: #334752;
	font-family: $font-family-secondary;
	font-size: 20px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 55px;
}

.about-content__secondary-part {
	max-width: 50%;
	color: $text-description-primary-color;
	font-family: $font-family-primary;
	font-size: 15px;
	line-height: 32px;
	letter-spacing: -1px;
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: -22px;
		left: 0;
		width: 50%;
		height: 3px;
		background-color: #10cab7;
	}
}

@media (max-width: 1200px) {
	.about-content__inner {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin: 150px 0;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 350px;
			height: 354px;
			position: absolute;
			top: -80px;
			left: 0;
			background-image: url(../img/left-side_decor_image2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

@media (max-width: 767px) {
	.container {
		max-width: 500px;
	}

	.about-content__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 330px 20px;
		position: relative;

		&::before {
			content: "";
			display: block;
			width: 280px;
			height: 284px;
			position: absolute;
			top: -310px;
			left: 0;
			background-image: url(../img/left-side_decor_image2.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.about-content__main-part {
		max-width: 80%;
	}
	.about-content__secondary-part {
		max-width: 80%;
	}
	.about__title {
		font-size: 80px;
		line-height: 120px;
		letter-spacing: -8px;
	}

	.about__description {
		font-size: 18px;
		letter-spacing: -1px;
		margin-top: -50px;
	}
}
