%dropdown-menu-main-title {
	color: $text-title-colored;
	font-family: $font-family-primary;
	font-size: 29px;
	line-height: 35px;
	letter-spacing: -1.5px;
}

%dropdown-menu-secondary-title {
	color: $background-primary-color;
	font-family: $font-family-primary;
	font-size: 21px;
	font-weight: 400;
	line-height: 35px;
	letter-spacing: -1px;
}

