$text-title-colored: #10cab7;
$text-subtitle-primary-color: #2c4755;
$text-subtitle-secondary-color: #1f2021;
$text-description-primary-color: #575757;
$text-description-secondary-color: #4d4c4c;
$text-title-section-primary-color: #f6f6f6;
$text-title-section-secondary-color: #ebeced;
$background-primary-color: #ffff;
$background-secondary-color: #fafafa;
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Work Sans - Extra Bold', sans-serif;
