$text-title-colored: #10cab7;
$text-subtitle-prime-color: #2c4755;
$text-subtitle-secondary-color: #1f2021;
$text-description-prime-color: #575757;
$background-prime-color: #ffff;
$background-secondary-color: #fafafa;
$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Work Sans - Extra Bold', sans-serif;
