$texttitle-colored: #10cab7;
$texttitle-dark: #2c4755;
$textsubtitle-prime: #2c4755;
$textsubtitle-secondary: #1f2021;
$background-prime: #ffff;
$background-secondary: #fafafa;
$background-third: #2c4755;

